.character-selected {
  display: inline-block;
}

.character-selected img {
  margin: -10px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 128px;
}

.player-slot.team2 .character-selected img {
  left: 10px;
  top: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.player-slot.team2 .player-name {
  right: 10px;
  top: 10px;
}

.player-slot {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  border-radius: 4px;
}

.player-slot .player-name {
  color: white;
  font-family: "Khula", sans-serif;
  font-weight: 300;
  display: inline;
  position: absolute;
}

.player-slot.team1 {
  background: rgba(76, 217, 100, 1);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(76, 217, 100, 1) 100%
  );
}

.player-slot.team2 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    -90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 70, 84, 1) 100%
  );
}
